In [1]:
import pandas as pd

excelWorkbook = pd.ExcelFile('worldbank_2019_data.xlsx') 

df = pd.read_excel(excelWorkbook, 0)
countries = pd.read_excel(excelWorkbook, 1)
indicators = pd.read_excel(excelWorkbook, 2)

In [2]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [3]:
countries.columns

Index(['Country Code', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName'], dtype='object')

In [4]:
indicators.columns

Index(['INDICATOR_CODE', 'INDICATOR_NAME', 'SOURCE_NOTE',
       'SOURCE_ORGANIZATION'],
      dtype='object')

In [5]:
df1 = pd.merge(df, countries, on='Country Code')
df1.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', 'Region', 'IncomeGroup',
       'SpecialNotes', 'TableName'],
      dtype='object')

In [6]:
df2 = pd.merge(df1, indicators, left_on='Indicator Code', right_on='INDICATOR_CODE')
df2.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', 'Region', 'IncomeGroup',
       'SpecialNotes', 'TableName', 'INDICATOR_CODE', 'INDICATOR_NAME',
       'SOURCE_NOTE', 'SOURCE_ORGANIZATION'],
      dtype='object')

In [7]:
df3 = df2.drop(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2016', '2017', '2018', 'SpecialNotes', 'TableName', 'INDICATOR_CODE', 'INDICATOR_NAME','SOURCE_NOTE', 'SOURCE_ORGANIZATION'],axis=1)
df3.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', 'Region',
       'IncomeGroup'],
      dtype='object')

In [13]:
# convert the columns to a list and reorder them
cols = df3.columns.tolist()
cols = cols[0:2] + cols[-2:] + cols[2:-2]
print(cols)

['Country Name', 'Country Code', '2014', '2015', 'Region', 'IncomeGroup', 'Indicator Name', 'Indicator Code', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']

In [10]:
df3 = df3[cols]
df3.head()

,Country Name,Country Code,Region,IncomeGroup,Indicator Name,Indicator Code,2000,2001,2002,2003,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Latin America & Caribbean,High income,Population ages 15-64 (% of total),SP.POP.1564.TO.ZS,69.240421,69.323344,69.421636,69.554820,...,69.856791,69.691761,69.448364,69.161089,68.838092,68.882835,68.976476,69.090099,69.165181,69.159774
1,Afghanistan,AFG,South Asia,Low income,Population ages 15-64 (% of total),SP.POP.1564.TO.ZS,49.182015,49.278617,49.467248,49.701669,...,50.092162,49.942311,49.836413,49.815480,49.898603,50.319337,50.883182,51.545931,52.253100,52.974876
2,Angola,AGO,Sub-Saharan Africa,Lower middle income,Population ages 15-64 (% of total),SP.POP.1564.TO.ZS,50.130735,50.123345,50.163814,50.232256,...,50.328685,50.292930,50.290849,50.317153,50.370243,50.327156,50.349958,50.416077,50.505664,50.613384
3,Albania,ALB,Europe & Central Asia,Upper middle income,Population ages 15-64 (% of total),SP.POP.1564.TO.ZS,62.662197,63.064436,63.513869,64.003112,...,65.524594,65.953748,66.316860,66.619749,66.860680,67.520815,68.110597,68.645567,69.103098,69.436421
4,Andorra,AND,Europe & Central Asia,High income,Population ages 15-64 (% of total),SP.POP.1564.TO.ZS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN